TP1/Enseignants/enseignants.dtd


<!ELEMENT enseignants ( enseignant, annee? )* >
<!ELEMENT enseignant ( nom, prenom, prenom?, age?) >
<!ELEMENT nom (#PCDATA) >
<!ELEMENT prenom (#PCDATA) >
<!ELEMENT age (#PCDATA) >
<!ELEMENT annee (#PCDATA) >
<!ATTLIST enseignant dep CDATA #REQUIRED>
<!ATTLIST enseignants annee CDATA #IMPLIED>
<!ENTITY isis "ISIS">